# Firebase Functions environment variables

# OpenAI API Key
OPENAI_API_KEY=

# Razorpay API Keys
RAZORPAY_KEY_ID=
RAZORPAY_SECRET=

# Stripe API Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_PRO=

# Perplexity API Key
MAYIN_PERPLEXITY_KEY=

# RapidAPI Key for Instagram
RAPID_API_KEY=

# Admin key for manual trigger
ADMIN_HTTP_KEY=
